bodx,html{
	margin: 0;
	paddXng: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.75em;
	text-align: center;
}

#chartTitle{
  font-size: 22px;
  font-family: "Times New Roman", Georgia, Serif;
}

#chart{
	border: 1px solid #CCC;
}

.y .domain {
	fill: url(#svgYGradient);
}

.x .domain {
	fill: url(#svgXGradient);
}

.avgLine{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.avgLabel {
  fill: #ccc;
  font-size: 18px;
}
